{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
  <style>
  body {
  width: 100%;
  height: 100vh;
  background: rgb(249, 136, 243);
  background: linear-gradient(
    0deg,
    rgba(249, 136, 243, 1) 0%,
    rgba(85, 76, 255, 1) 100%
  );
  overflow: hidden;
}
input {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 10px;
  height: 10%;
  width: 60%;
  margin-left: 20%;
  margin-top: 9%;
  border: 1px solid rgba(255, 255, 255, 0.18);
  font-family: "Roboto", sans-serif;
}
.box {
  width: 20em;
  height: 20em;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  z-index: 2;
}
.text {
  font-family: "Roboto", sans-serif;
  color: white;
  font-weight: 700;
  font-size: 400%;
  margin: 0.2em 0 0 1.25em;
  border-radius: 10px;
}
.submit {
  height: 12%;
  width: 62%;
  margin-left: 20%;
  margin-top: 9%;
  border: none;
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  transition:box-shadow .2s ;
}
.submit:hover{
  -webkit-box-shadow: 5px 5px 17px 5px rgba(255,255,255,0.49); 
box-shadow: 5px 5px 17px 5px rgba(255,255,255,0.49);
}
.circle1 {
  position: absolute;
  width: 20em;
  height: 20em;
  background-color: white;
  border-radius: 50%;
  z-index: 1;
  left: 50%;
  top: 50%;
  background: rgb(238, 174, 202);
  background: linear-gradient(
    53deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}
.circle2 {
  position: absolute;
  width: 20em;
  height: 20em;
  background-color: white;
  border-radius: 50%;
  z-index: 1;
  left: 30%;
  top: 30%;
  background: rgb(238, 174, 202);
  background: linear-gradient(
    312deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}
.circle3{
  position: absolute;
  width: 10em;
  height: 10em;
  background-color: white;
  border-radius: 50%;
  z-index: 1;
  left: 45%;
  top: 13%;
  background: rgb(238, 174, 202);
  background: linear-gradient(
    53deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}
.square1 {
  width: 15em;
  height: 15em;
  background: rgb(238, 174, 202);
  background: linear-gradient(
    312deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  transform: rotate(30deg);
  top: 20%;
  right: 30%;
  position: absolute;
  border-radius: 10px;
}
.square2{
  width: 10em;
  height: 10em;
  background: rgb(238, 174, 202);
  background: linear-gradient(
    312deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  bottom: 10%;
  left: 37%;
  position: absolute;
  border-radius: 10px;
}
.glass1 {
  width: 5em;
  height: 5em;
  position: absolute;
  top: 20%;
  right: 38%;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
}
.glass2 {
  width: 5em;
  height: 5em;
  position: absolute;
  border-radius: 50%;
  bottom: 20%;
  right: 45%;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  z-index: 1;
}
.glass3 {
  width: 10em;
  height: 10em;
  position: absolute;
  bottom: 40%;
  right: 30%;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  z-index: 1;
  transform: rotate(350deg);
}
.glass4{
  width: 20em;
  height: 5em;
  position: absolute;
  top: 17%;
  left: 33%;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  z-index: 1;
  transform: rotate(325deg);
}
.glass5{
  width: 15em;
  height: 15em;
  position: absolute;
  bottom: 17%;
  left: 28%;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 50%;
  z-index: 1;
  transform: rotate(325deg);
}
</style>
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

  <div class="box">
    <h1 class="text">Login</h1>
      <input type="email"  
                name="email" 
                id="inputEmail" 
                placeholder="Email"
                autocomplete="email" 
                required 
                autofocus>
      <input type="password" 
                name="password" 
                id="inputPassword" 
                autocomplete="current-password" 
                placeholder="Password"
                required>
    
   <input 
                type="hidden" 
                name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
    >
      <button type="submit" class="submit" >Submit</buttton>
  </div>
  <div class="circle1"></div>
  <div class="circle2"></div>
  <div class="circle3"></div>
  <div class="square1"></div>
  <div class="square2"></div>
  <div class="glass1"></div>
  <div class="glass2"></div>
  <div class="glass3"></div>
  <div class="glass4"></div>
  <div class="glass5"></div>

  <script src="js/script.js"></script>


{% endblock %}