{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

<html lang="en"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.104.2">
    <title>Album example · Bootstrap v5.2</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/album/">

    

    

<link href="/docs/5.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <!-- Favicons -->
<link rel="apple-touch-icon" href="/docs/5.2/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
<link rel="icon" href="/docs/5.2/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
<link rel="icon" href="/docs/5.2/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
<link rel="manifest" href="/docs/5.2/assets/img/favicons/manifest.json">
<link rel="mask-icon" href="/docs/5.2/assets/img/favicons/safari-pinned-tab.svg" color="#712cf9">
<link rel="icon" href="/docs/5.2/assets/img/favicons/favicon.ico">
<meta name="theme-color" content="#712cf9">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }

.frame {
  width: 90%;
  margin: 40px auto;
  text-align: center;
}
button {
  margin: 20px;
}
.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}

.btn-12{
  position: relative;
  right: 20px;
  bottom: 20px;
  border:none;
  box-shadow: none;
  width: 130px;
  height: 40px;
  line-height: 42px;
  -webkit-perspective: 230px;
  perspective: 230px;
}
.btn-12 span {
  background: rgb(0,172,238);
background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
  display: block;
  position: absolute;
  width: 130px;
  height: 40px;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  border-radius: 5px;
  margin:0;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.btn-12 span:nth-child(1) {
  box-shadow:
   -7px -7px 20px 0px #fff9,
   -4px -4px 5px 0px #fff9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
.btn-12 span:nth-child(2) {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
.btn-12:hover span:nth-child(1) {
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
.btn-12:hover span:nth-child(2) {
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
 color: transparent;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}


</style>

    
  </head>
  <body>
    
<header>

</header>

<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Profesionales especializados</h1>
        <p class="lead text-muted">Te traemos a nuestros profesionales especializados en su area, ingresa y solicita tu turno con nostros.</p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="{{asset('images/rayosX.jfif')}}">
            <h5>Rayos X</h5>
            <div class="card-body">
              <p class="card-text">Consulta sobre nuestros profesionales en rayos y pide tu turno.</p>
              <div class="d-flex justify-content-between align-items-center flex-column">
              <!-- aca comienza el dropdown-->
                <p>
                  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
                    Telefonos
                  </button>
                </p>
                <div style="min-height: 120px;">
                  <div class="collapse" id="collapseWidthExample">
                    <ul class="list-group">
                      <li class="list-group-item">Juan garcia 221-555-222</li>
                      <li class="list-group-item">Perez Damian 221-555-777</li>
                      <li class="list-group-item">Larroque Maria 221-111-888</li>
                      <li class="list-group-item">Lape Aron 221-777-888</li>
                      <li class="list-group-item">Quiroga Luisa 011-777-888</li>
                    </ul>
                  </div>
                </div> <!-- aca termina el dropdown-->
              </div>
            </div>
          </div>
        </div>
        

        <div class="col">
          <div class="card shadow-sm">
           <img src="{{asset('images/eco.jfif')}}">
           <h5>Ecografias</h5>
            <div class="card-body">
              <p class="card-text">Consulta sobre nuestros profesionales en ecografias y pide tu turno.</p>
              <div class="d-flex justify-content-between align-items-center flex-column">
                <!-- aca comienza el dropdown-->
                <p>
                  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample2" aria-expanded="false" aria-controls="collapseWidthExample2">
                    Telefonos
                  </button>
                </p>
                <div style="min-height: 120px;">
                  <div class="collapse" id="collapseWidthExample2">
                    <ul class="list-group">
                      <li class="list-group-item">Juan garcia 221-555-222</li>
                      <li class="list-group-item">Perez Damian 221-555-777</li>
                      <li class="list-group-item">Larroque Maria 221-111-888</li>
                      <li class="list-group-item">Lape Aron 221-777-888</li>
                      <li class="list-group-item">Quiroga Luisa 011-777-888</li>
                    </ul>
                  </div>
                </div> <!-- aca termina el dropdown-->
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="{{asset('images/lab.jpg')}}">
            <h5>Laboratorios</h5>
            <div class="card-body">
              <p class="card-text">Consulta sobre nuestros profesionales en laboratios y pide tu turno.</p>
              <div class="d-flex justify-content-between align-items-center flex-column">
                <!-- aca comienza el dropdown-->
                <p>
                  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample3" aria-expanded="false" aria-controls="collapseWidthExample3">
                    Telefonos
                  </button>
                </p>
                <div style="min-height: 120px;">
                  <div class="collapse" id="collapseWidthExample3">
                    <ul class="list-group">
                      <li class="list-group-item">Juan garcia 221-555-222</li>
                      <li class="list-group-item">Perez Damian 221-555-777</li>
                      <li class="list-group-item">Larroque Maria 221-111-888</li>
                      <li class="list-group-item">Lape Aron 221-777-888</li>
                      <li class="list-group-item">Quiroga Luisa 011-777-888</li>
                    </ul>
                  </div>
                </div> <!-- aca termina el dropdown-->
              </div>
            </div>
          </div>
        </div>        
  </div>


<div class="frame">
  <button class="custom-btn btn-12"><a class="text-light" href="/home"><span>Click!</span><span>Volver al home</span></a></button>
</div>


</main>

<footer class="text-muted py-5">
  <div class="container">
    <p class="mb-1">Esperemos que encuentres lo que estabas buscando</p>
  </div>
</footer>


    <script src="/docs/5.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

      
  

</body>

</html>
{% endblock %}